/node_modules
/public/hot
/public/storage
/public/img
/public/js/app.js
/public/css/app.css
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.settings/
.buildpath/
.project/
webcreation.iml
nbproject/
.idea/
/nbproject/private/