#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: orange;
    color: blue;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    transition: 0.3s;
    background: black;
    color: white;
}
#back-to-top.show {
    opacity: 1;
}

.custom-title {
    font-size: 4em;
}

.custom-subtitle {
    font-size: 3em;
}

#logout-form {
    display: none;
}

.cart-image {
    width: 100px;
}


footer {
    background-color: #f5f5f5;
    padding: 20px 0;
}

input:invalid+span.validity:before {
    position: absolute;
    content: '✖';
    font-size: 1.5em;
    color: red;
    padding-left: 5px;
}

input:valid+span.validity:before {
    position: absolute;
    content: '✓';
    font-size: 1.5em;
    color: green;
    padding-left: 5px;
}

.sales {
    position: absolute;
    width: 100%;
}

.sales span {
    font-size: 0.5em;
}

.sales small {
    color: white;
}

.sales h2 {
    background: #3929CF;
    line-height: 2em;
    font-size: 2.5em;
    font-weight: normal;
    text-align: center;
    position: relative;
    width: 100%;
    margin-top: -0.03em;
    box-shadow: 0 0 .3em 1px #333;
    color: #dedede;
}
.card .card-image .card-title {
    padding: 10px;
}
// .sales h2:before{
//     content: "";
//     width: 0;
//     height: 0;
//     border-top: .35em solid #2081A1;
//     border-left: .35em solid transparent;
//     position: absolute;
//     bottom: -.35em;
//     left: 0;
// }
// .sales h2:after{
//     content: "";
//     width: 0;
//     height: 0;
//     border-top: .35em solid #2081A1;
//     border-right: .35em solid transparent;
//     position: absolute;
//     bottom: -.35em;
//     right: 0;
// }