.security-infos {
    text-decoration: underline;
}

.text-white {
    color: white;
}

.pl-10 {
    padding-left: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.mb-100 {
    margin-bottom: 100px;
}

.product-layout-img {
    margin-top: 10px;
}

.lity-img {
    cursor: zoom-in;
}

.spacer {
    margin-bottom: 100px;
}

.secure-payment-info {
    text-decoration: underline;
}