.security-infos {
    text-decoration: underline;
}

.category-title {
    padding: 0.5em;
}

.sold-out {
    max-width: 30%;
}

.text-white {
    color: white;
}

.ml-30 {
	margin-left: 30px;
}

.pl-10 {
    padding-left: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.product-layout-img {
    margin-top: 10px;
}

.lity-img {
    cursor: zoom-in;
}

.spacer, .mb-100 {
    margin-bottom: 100px;
}

.secure-payment-info {
    text-decoration: underline;
}