// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
// Variables
@import "variables";
@import "stripe-form-style";
// Bootstrap
@import "node_modules/materialize-css/dist/css/materialize";
@import "custom";
@import "utilities";

.jumbotron {
	background: rgba(0,0,0,1);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=1 );
}

.thumbnail{
	transition: transform 0.2s;
}

img.product-layout-img, .scale_when_hover {
	z-index: 1000;
	text-transform: uppercase;
	box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
	cursor: pointer;
	transition: all ease-in-out 300ms;
}

img.product-layout-img:hover, .scale_when_hover:hover {
	box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
	overflow: none;
	transform: translate(0px, 5px) scale(1.05);
}
