// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
.alert {
    position: fixed;
    right: 25px;
    top: 50px;
}

.jumbotron{
    background-image: url('../img/hero_pdt_hamburger.png');
    background-repeat: no-repeat;
    background-position: center;
}

.spacer {
    margin-bottom: 100px;
}

.cart-image {
    width: 100px;
}

footer {
    background-color: #f5f5f5;
    padding: 20px 0;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

.side-by-side {
    display: inline-block;
}